.audiocontrols a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 10px 0 0;
	border: 1px solid #999999;
	border-radius: 15px;
	background: linear-gradient(0deg, #eeeeee, #cccccc, #eeeeee);
	box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font: bold 20px/30px sans-serif;
	cursor: pointer;
}

.audiocontrols a.disabled {
	color: #999999;
	cursor: default;
}
